.ViewCard h1 {
    font-size: 1.25rem;
    margin-bottom: 11px;
}

.ViewCard .category {
    display: inline-block;
    font-size: 1rem;
    border: solid 1px red;
    border-radius: 15px;
    padding: 3px 12px;
    margin-bottom: 24px;
}